version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app-network
  
  backend:
    build: ./backend
    container_name: backend-app
    restart: always
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      AWS_REGION: ap-south-1
      SECRET_NAME: prod/postgres/appdb
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend-app
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pg_data:
