name: Deploy Application

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Fetch secrets from AWS Secrets Manager
        run: |
          aws secretsmanager get-secret-value \
            --secret-id staging/prod \
            --output json > secret.json

          echo "SERVER_HOST=$(jq -r '.SecretString | fromjson | .host' secret.json)" >> $GITHUB_ENV
          echo "SERVER_USER=$(jq -r '.SecretString | fromjson | .user' secret.json)" >> $GITHUB_ENV

          SSH_KEY_VALUE=$(jq -r '.SecretString | fromjson | .ssh_private_key' secret.json)

          echo "SSH_KEY<<EOF" >> $GITHUB_ENV
          echo "$SSH_KEY_VALUE" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Deploy to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ env.SSH_KEY }}
          source: "./"
          target: "/var/www/app"
