name: Deploy Application

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Fetch secrets from AWS Secrets Manager
        run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value \
            --secret-id staging/prod-BWDKSZ \
            --query SecretString \
            --output text)

          echo "SERVER_HOST=$(echo "$SECRET_JSON" | jq -r '.["deploy/prod/host"]')" >> $GITHUB_ENV
          echo "SERVER_USER=$(echo "$SECRET_JSON" | jq -r '.["deploy/prod/user"]')" >> $GITHUB_ENV

          SSH_KEY_VALUE=$(echo "$SECRET_JSON" | jq -r '.["deploy/prod/ssh_private_key"]')

          echo "SSH_KEY<<EOF" >> $GITHUB_ENV
          echo "$SSH_KEY_VALUE" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Deploy to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ env.SSH_KEY }}
          source: "./"
          target: "/var/www/app"
